.App {
  background: white;
  min-height: 1500px;
  width: auto;
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  color: red;
  text-align: left;
  flex-direction: row;
  justify-content: space-between; 
}

.link {
  position: absolute;
  right: 40px;
  top: 20px;
  color: red;
  text-align: left;
  flex-direction: row;
  justify-content: space-between; 
}

.Content {
  background: white;
  align-content: center;
  justify-content: center;
  display: block;
  width: 100%;
}


